{% extends "base.html" %}

{% block content %}

   <span id="time"></span>

   <h1 class="title">Constraints</h1>
   

<div>
    <select id='timeForm' class="button">
      <option value="15000"> 15 seconds </option>
      <option value="30000"> 30 seconds </option>
      <option value="60000"> 1 minute </option>
      <option value="120000"> 2 minutes </option>
      <option value="180000"> 3 minutes </option>
      <option value="300000"> 5 minutes </option>
      <option value="420000"> 7 minutes </option>
      <option value="600000"> 10 minutes </option>
      <option value="900000"> 15 minutes </option>
    </select>
  </div>

<div>

  <br>

  <form>
      <p>Include:</p>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female Read Models</label><br>
    
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Male Read Models</label><br>

      <input type="radio" id="non binary" name="gender" value="non binary">
      <label for="non binary">Non Binary Read Models</label><br>

  </form>
  <br>

  <form>
    <p>Cover/Clothing:</p>
    <input type="radio" id="all" name="cover" value="all">
    <label for="all">All Models</label><br>
  
    <input type="radio" id="nude" name="cover" value="nude">
    <label for="nude">Only Nude</label><br>

    <input type="radio" id="clothed" name="cover" value="clothed">
    <label for="clothed">Only Clothed</label><br>

  </form>
 <br>
  <form>
    <p>Age:</p>
    <input type="checkbox" id="age" name="age" value="baby">
    <label for="age">Baby</label><br>

    <input type="checkbox" id="age" name="age" value="child">
    <label for="age">Child</label><br>

    <input type="checkbox" id="age" name="age" value="teen">
    <label for="age">Teen</label><br>

    <input type="checkbox" id="age" name="age" value="adult">
    <label for="age">Adult</label><br><br>
  </form>
  <br>

</div>



  
<button class="button" id="start" onclick="redirectAndStartTimer()" class style = "display: inline;">START</button>


<script>
  var a;
  var time_set= 15000; //defaults to 15sec

  setInterval(update_timer, 1000);

  getInitialImage.send();

  document.getElementById('timeForm').addEventListener('change', function() {
      time_set = parseInt(this.value);
  });

  function redirectAndStartTimer() {
    window.location.href = "{{ url_for('main.index') }}";
    localStorage.setItem('startTimer', true);
    localStorage.setItem('timeSet', time_set);
}

  function getImagesByQualification(){
    var gender = document.getElementsByName('gender');
    var cover  =  document.getElementsByName('cover');
    var age = document.getElementsByName('age');
    
    $.ajax({
            type: "POST",
            url: "/image/set/",
            contentType: 'project/json;charset=UTF-8',
            data: JSON.stringify({'gender':  gender,'cover':cover,'age':age}),
            success: function (data) {
                console.log(data);
            }
     });
}

</script>   



{% endblock %}