{% extends "base.html" %}

{% block content %}

   <span id="time"></span>

   <h1 class="title">Constraints</h1>
   

<div>
    <select id='timeForm' class="button">
      <option value="15000"> 15 seconds </option>
      <option value="30000"> 30 seconds </option>
      <option value="60000"> 1 minute </option>
      <option value="120000"> 2 minutes </option>
      <option value="180000"> 3 minutes </option>
      <option value="300000"> 5 minutes </option>
      <option value="420000"> 7 minutes </option>
      <option value="600000"> 10 minutes </option>
      <option value="900000"> 15 minutes </option>
    </select>
  </div>

<div>

  <br>

  <form>
      <p>Include:</p>
      <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="female" name="gender" value="female">
      <label for="female">Female Read Models</label><br>
    
      <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="male" name="gender" value="male">
      <label for="male">Male Read Models</label><br>

      <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="non binary" name="gender" value="non binary">
      <label for="non binary">Non Binary Read Models</label><br>

  </form>
  <br>

  <form>
    <p>Cover/Clothing:</p>  
    <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="nude" name="cover" value="nude">
    <label for="nude">Nude</label><br>

    <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="clothed" name="cover" value="clothed">
    <label for="clothed">Clothed</label><br>

  </form>
 <br>
  <form>
    <p>Age:</p>
    <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="baby" name="age" value="baby">
    <label for="baby">Baby</label><br>

    <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="child" name="age" value="child">
    <label for="child">Child</label><br>

    <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="teen" name="age" value="teen">
    <label for="teen">Teen</label><br>

    <input onclick = "javascript:getImagesByQualification()" type="checkbox" id="adult" name="age" value="adult">
    <label for="adult">Adult</label><br><br>
  </form>
  <br>

<span id="imageNum">

</span>
</div>



  
<button class="button" id="start" onclick="redirectAndStartTimer()" class style = "display: inline;">START</button>


<script>
var time_set= 15000;
  function redirectAndStartTimer() {
    window.location.href = "{{ url_for('main.index') }}";
    localStorage.setItem('startTimer', true);
    localStorage.setItem('timeSet', time_set);
}
  function getImagesByQualification(){
    //redo id -> tag
    var q = document.querySelectorAll('input:checked');
    let qualifications = []
    for(let i = 0; i < q.length;i++){
      qualifications.push(q[i].value);
    }

    $.ajax({
            type: "POST",
            url: "/image/set/",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(qualifications),
            success: function (data) {
              $("#imageNum").html(data + " images")
            }
     });
}

</script>   



{% endblock %}