{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<h1 class="title">
  Playlists:
</h1>
{% for playlist in playlists %}
<div class="w-full md:w-1/3 lg:w-1/4 p-4">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="relative">
            <a target="_blank" href="{{ url_for('main.playlist', playlist_id=playlist.id) }}">
                <img src="{{ url_for('static', filename=playlist.cover_image) }}" alt="{{ playlist.name }}" class="w-full h-64 object-cover">
            </a>
        </div>
        <div class="p-4">
            <h3 class="text-lg font-bold">{{ playlist.name }}</h3>
        </div>
    </div>
</div>
{% endfor %}
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12 col-md-7">
          <div class="panel panel-default">
              <div class="panel-body">
                  <button class="new_playlist btn btn-primary" onclick="openForm()">Add a New Playlist</button>
                  <div class="form-popup" id="myForm">
                      <form method="POST" enctype="multipart/form-data" class="form-container" action="{{ url_for('main.profile') }}">
                          {{ form.hidden_tag() }}
                          <div class="form-group">
                              {{ form.name.label }}<br>
                              {{ form.name(size=32, class_="form-control") }}
                          </div>
                          <div class="form-group">
                              {{ form.category.label }}<br>
                              {{ form.category(size=32, class_="form-control") }}
                          </div>
                          <div class="form-group">
                              {{ form.logo.label }}<br>
                              {{ form.logo(class_="form-control") }}
                          </div>
                          <div class="form-group">
                              {{ form.submit(class_="btn btn-primary") }}
                          </div>
                          <div class="form-group">
                              <button type="button" class="btn btn-secondary" onclick="closeForm()">Close</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
function openForm() {
    console.log("openForm called");
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    console.log("closeForm called");
    document.getElementById("myForm").style.display = "none";
}

</script>
{% endblock %}