  {% extends "base.html" %}

  {% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
  {% endif %}


  {% endwith %}

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <label for="files">Select image(s) or zip file(s):</label>
    <input type="file" id="files" name="files" accept="image/*,.zip" multiple>
    
    <div class="form-group">
        <label for="playlistselect">Select a playlist:</label>
        <select id="playlistselect" name="playlistselect" class="form-control">
            <option value="">Select a playlist</option>
            {% for playlist in playlists %}
            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary">
    </div>
</form>

  {% endblock %}