{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}
  <div dir='rtl'>
    <input name='rtl-example' class='tagify tagify--rtl-example' placeholder='Add Tags'/>

  </div>
  <form method="post" enctype="multipart/form-data" action="{{ url_for('main.upload') }}">
    {{ form.hidden_tag() }}
    <label for="files">Select image(s) or zip file(s):</label>
    {{ form.image.label }}<br>
    {{ form.image(class="form-control") }}<br>
    <label for="playlistselect">Select a playlist:</label>
    {{ form.playlist.label }}<br>
    {{ form.playlist(class="form-control") }}<br>
    {{ form.submit(class="btn btn-primary") }}
  </form>


  
{% endblock %}
